body {
    margin: 0;
    background-image: url(../images/bg1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

h3 {
    margin: 0;
}

#out {
    width: 69px;
    height: 27px;
    border-radius: 20px;
    position: absolute;
    right: 30px;
    top: 15px;
    line-height: 27px;
    text-align: center;
    background-color: #27bc91;
    color: white;
}

#updiv {
    position: absolute;
    right: 123px;
    top: 6px;
    background-color: rgba(250, 250, 250, 0.6);
    display: block;
    width: 150px;
    height: 83px;
    border-radius: 20px;
    padding: 8px;
}

#choosefile {
    width: 142px;
    height: 30px;
    border: 3px solid rgba(23, 244, 205, 0.87);
    border-radius: 10px;
}

#submit {
    margin-top: 5px;
    border-radius: 10px;
    float: right;
}
#showfile_back{
    position: absolute;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    margin: auto;
    padding: 23px;
}
#showfile {
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#showfile::-webkit-scrollbar {/*滚动条整体样式*/
    width: 15px;     /*高宽分别对应横竖滚动条的尺寸*/
}
#showfile::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(51, 255, 242, 0.7);
}


#filename {
    width: 150px;
    text-align: center;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#jpg {
    color: white;
    display: block !important;
    position: relative;
}

#png {
    position: relative;
    color: white;
}

#pdf {
    color: white;
}

#apk {
    color: white;
}

#rar {
    color: white;
}

#psd {
    color: white;
}

#docx {
    color: white;
}

#filetype {
    position: absolute;
    top:30px;
    right: 45px;
    padding-left: 23px;
    line-height: 24px;
    font-size: 14px;
    color: #a038ff;
    width: 80px;
    height: 24px;
    border-radius: 20px;
    background-color: rgba(51, 255, 242, 0.7);
    z-index: 3;
}

#erweima {
    float: left;
    width: 100px;
}

.lianjie div {
    border-left: rgba(51, 255, 242, 0.7) solid 3px;
    padding-left: 2px;
    margin-bottom: 4px;
    width: 86%;
    line-height: 30px;
    height: 30px;
}

.lianjie div:hover {
    transition: width 500ms;
    width: 98%;
    background-color: rgba(51, 255, 242, 0.7);
}

.lianjie {
    text-decoration: none;
    color: white;
}

.tupian{
    position:absolute;
    padding: 5px;
    margin-bottom: 4px;
    width: 210px;
    display: inline-block;
}

.tupian:hover {
    transition: background-color 200ms;
    background-color: rgba(51, 255, 242, 0.7);
}

.tupian img{
    width: 100%;
}


